apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: fz-vault-monitor
  namespace: monitoring
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: fz-vault  # This MUST match the label in your service.yaml
  namespaceSelector:
    matchNames:
      - default
  endpoints:
  - port: http
    path: /metrics
    interval: 30s